@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600, 700&display=swap');

@import "./_variables.scss";

* {
    font-family: "Poppins", sans-serif;
}

a {
    color: #{map.get($colors, "secondary")};
    font-weight: 600;
}