$base-spacing: 1rem;
$base-radius: 0.5rem;

$colors: (
    "primary": #ffeb3b,
    "dark-primary": #fbc02d,
    "secondary": #2196f3,
    "light-gray": #BDBDBD,
    "dark-gray": #757575,
    "dark": #212121
);